@import "reset.less";
@import "base.less";

@content_width_1: 750px;
@content_width_2: 600px;
@content_width_3: 400px;
.icon-angle-right(){
    font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    text-decoration: none;
}
body{
    background-color: @gray_super_light;
    .main-content{
        background-image: url("@{image_dir}/about_content_back.png");
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: right top;

        // h1 level
        & > section{
            h1{
                height: 320px;
                background-image: url("@{image_dir}/about_title_back.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center bottom;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                color: @er_blue_dark;
                .en{
                    font-size: @font_size_huger;
                    margin-bottom: 2rem;
                    letter-spacing: 0.25em;
                }
                .ja{
                    font-size: @font_size_normal;
                    font-weight: bold;
                }
            }
            .breadcrumb{
                max-width: @content_width;
                margin: 9px auto;
                font-size: @font_size_small;
                & > ul{
                    display: flex;
                    li {
                        padding-left: 7px;
                        color: @gray;
                        a {
                            text-decoration: none;
                            color: @er_blue_dark;
                            &::after {
                                .icon-angle-right();
                                color: @er_blue_dark;
                                padding: 0 5px;
                            }
                        }
                    }
                }
            }
            // h2 level
            & > section{
                max-width: @content_width;
                width: 100%;
                margin: 0 auto;
                padding-top: 50px;
                h2{
                    max-width: @content_width_1;
                    color: @white;
                    font-size: @font_size_super_huge;
                    margin: 0 auto;
                    transform: translateY(50%);
                    letter-spacing: 0.1em;
                }
                p.strong{
                    font-size: @font_size_bigger;
                    text-align: center;
                    max-width: @content_width_3;
                    color: @er_blue_dark;
                    font-weight: bold;
                    position: relative;
                    z-index: 99;
                }
                p{
                    max-width: @content_width_2;
                    margin: 0 auto;
                    font-size: @font_size_normal;
                    color: @gray_super_dark;
                    margin-bottom: 3rem;
                    line-height: 2;
                    font-weight: bold;
                }
                &.how{
                    h2{
                        text-align: right;
                    }
                }
            }
        }
    }
}