// 本当に共通部分だけ書く。
// 特にトップページは一貫性の無い特殊デザインになることが多いので混入させないこと

@image_dir: "../images";

@er_blue_light: #ccd2da;
@er_blue_dark: #001e46; // 文字に使うような濃いめの紺

@white: #fff;
@gray_super_light: #f2f2f2;
@gray: #727a81;
@gray_super_dark: #323c46; // ほとんど黒に近いグレー。文字に使う


@z_index_nav: 1;
@z_index_header: 19;

@font_size_super_huge: 8.5rem;
@font_size_huger: 6rem;
@font_size_huge: 5rem;
@font_size_super_big: 3rem;
@font_size_bigger: 2.6rem;
@font_size_big: 2rem;
@font_size_normal: 1.6rem;
@font_size_small: 1.2rem;

@content_width: 960px;

html{
    font-size: 62.5%;
}

body{
    font-size: @font_size_normal; 
    font-family: 'Libre Baskerville', 'Noto Serif JP', serif;

    & > header{
        position: fixed;
        top: 0;
        left: 0;
        // ブロックを両端に寄せる
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 18px;
        box-sizing: border-box;
        z-index: @z_index_header;
        .logo{
            img{
                display: block;
                max-width: 109px;
                width: 100%;
            }
        }
        .nav{
            display: flex;
            justify-content: right;
            align-items: top;
            & > a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 4rem;
                margin-right: 20px;
                background-color: @white;
                border: 3px solid @er_blue_dark;
                color: @er_blue_dark;
                padding-left: 1rem;
                padding-right: 1rem;
                opacity: 0.8;

            }
            & > button{
                display: flex;
                justify-content: center;
                align-items: top;
                background: transparent;
                border: none;
                img{
                    display: block;
                    width: 22px;
                    height: 18px;
                    &.for-light{
                        display: block;
                    }
                    &.for-dark{
                        display: none;
                    }
                    
                }
            }
        }
        & > nav{
            display: none;
            position: fixed;
            box-sizing: border-box;
            width: 100%;  //ヘッダーが 100vw 指定なので内部に 100vw 指定すると表示がおかしくなる。
            height: 100vh;
            background-color: @gray_super_light;
            top: 0;
            left: 0;
            z-index: @z_index_nav;
            color: @er_blue_dark;
            &.open{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

            }
            ul.global{
                max-width: @content_width;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 3rem;

                & > li{
                    width: 24%;
                    text-align: center;
                    margin-bottom: 5rem;
                    & > h3{
                        font-size: @font_size_super_big;
                        margin-bottom: 1rem;
                    }
                    & > ul{
                        & > li{
                            a{
                                font-size: @font_size_small;
                                color: @er_blue_dark;
                                text-decoration: none;
                            }

                        }
                    }
                }

            }
            ul.contact-blog{
                display: flex;
                justify-content: space-between;
                max-width: @content_width;
                width: 100%;
                li{
                    border: 2px solid @er_blue_dark;
                    max-width: 40%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem;
                    background-color: @white;
                    a{
                        color: @er_blue_dark;
                        font-size: @font_size_super_big;
                    }
                }
            }
            div.button.close{
                position: absolute;
                top: 10px;
                right: 10px;
                button{
                    border: none;
                    background: none;
                }
            }
            ul.sns{
                position: absolute;
                top: 50px;
                right: 13px;
                li{
                    margin-bottom: 1rem;
                }
            }

        }
    }
    & > footer{
        div.contact{
            //background-color: @gray_super_light;
            background-color: @er_blue_light;
            text-align: center;
            padding: 5rem;
            a{
                display: flex;
                margin: 0 auto;
                border: 3px solid @er_blue_dark;
                max-width: 40rem;
                width: 100%;
                padding: 2rem;
                justify-content: center;
                align-items: center;
                color: @er_blue_dark;
                font-size: @font_size_super_big;
                background-color: @gray_super_light;
            }
        }
        address{
            background-color: @er_blue_dark;
            color: @white;
            text-align: center;
            padding: 2rem;
        }

    }
}