@import "reset.less";
@import "base.less";
@import "index_base.less";

@zindex_top_message: 10;
@zindex_top_message_loader: 1; //コンテキスト考慮なので数字は小さくていい
@zindex_current_location: 8;
@zindex_snap_next_area: 5;

html{
    scrollbar-width: none;       /* Firefox 対応 */
}

body{
    // 1画面に固定化させる記述
    //overflow-x: hidden;
    transition: all 1s;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
    }
    &.lock{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 1s;
        header{
            .logo{
                // top-message 表示している時専用のモード
                transition: all 1s;
                opacity: 0.0;
            }
            .nav{
                .nav-open{
                    .for-dark{
                        display: block;
                    }
                    .for-light{
                        display: none;
                    }
                }
            }
        }
        .current-location{
            opacity: 0.0;
        }
    }
    .current-location{
        position: fixed;
        top: 55vh;  //画面サイズによっては普通に暗い背景に半分ぐらい被るのでどうしたものか
        right: 0;
        z-index: @zindex_current_location;
        width: 200px;
        height: 100px;
        mix-blend-mode: darken;
        opacity: 1.0;
        transition: all 1s;
        ul.labels{
            position: absolute;
            top: 0;
            right: 45px;
            li{
                color: @er_blue_dark;
                width: 10em;
                text-align: right;
                position: absolute;
                top: 0;
                right: 0;
                transform-origin: top right;
                transform: rotate(-90deg) translateY(-100%);
                opacity: 0.0;
                &.current{
                    opacity: 1.0;
                    transition: all 1s;
                }
            }
        }
        ul.marks{
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            li{
                margin-bottom: 2px;
                display: flex;
                align-items: center;
                &:last-child{
                    margin-bottom: 0;
                }
                .mark{
                    width: 5px;
                    height: 5px;
                    background-color: @er_blue_dark;
                }
                .line{
                    width: 0;
                    height: 1px;
                    background-color: @er_blue_dark;
                }
                &.current{
                    .line{
                        transition: all 1s;
                        width: 35px;
                    }
                }
            }
        }
    }
    header{
        .logo{
            transition: all 1s;
            opacity: 1.0;
        }
    }
    & > .top-message{
        position: absolute;
        z-index: @zindex_top_message;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        // ロードするまでに画面を数秒ブロックしている物体
        & > .loader{
            background-color: @er_blue_dark;
            position: absolute;
            z-index: @zindex_top_message_loader;
            width: 100vw;
            height: 100vh;
            opacity: 1.0;
            &.effect{
                transition: all 1s;
                opacity: 0.0;
            }
        }
        &.finished{
            display: none;
        }
        #top-message-image{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            box-sizing: border-box;
        }
        .next-line{
            background-color: @white;
            width: 1px;
            height: 0;
            position: absolute;
            top: calc(100vh - 80px);
            left: 50%;
            &.effect{
                height: 80px;
                transition: all 1s;
            }
        }

    }
    .content{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        section{
            margin-left: calc((100vw - @content_width) / 2);
            width: calc(50% - ((100vw - @content_width) / 2));
            padding-right: 1rem;
            box-sizing: border-box;
            position: relative;
            opacity: 0.0;
            transition: all 1s;
            &.effect{
                opacity: 1.0;
                transition: all 1s;
            }
            h2{
                color: @er_blue_dark;
                font-size: @font_size_small;
                margin-bottom: 1rem;
            }
            p.strong{
                color: @er_blue_dark;
                font-size: @font_size_super_big;
                margin-bottom: 3rem;
                line-height: 1.5;
                padding: 0;
            }
            p{
                color: @gray_super_dark;
                font-size: @font_size_normal;
                padding-right: 2rem;
                line-height: 2;
                text-align: justify;
                margin-bottom: 3rem;
            }
            a.more{
                color: @er_blue_dark;
                text-decoration: none;
                display: inline-block;
                height: 2rem;
                text-align: center;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    border-bottom: 3px solid @er_blue_dark;
                    width: 1px;
                    left: 50%;
                    bottom: -1rem;
                    transform: translateX(-50%);
                }
                &.effect{
                    &::after{
                        width: 100%;
                        transition: all 1s;
                    }
                }
            }
        }
        .next-line{
            background-color: @er_blue_dark;
            width: 1px;
            height: 0;
            position: absolute;
            top: calc(100vh - 80px);
            left: 50%;
            &.effect{
                height: 80px;
                transition: all 1s;
            }
        }
        .snap-next-area{
            width: 2px;
            background-color: red;
            height: 20vh;
            position: absolute;
            bottom: -80vh;
            left: 0;
            z-index: @zindex_snap_next_area
        }
        &.about{
            background-image: url("@{image_dir}/about_back.jpg");
        }
        &.service{
            background-image: url("@{image_dir}/service_back.jpg");
        }
        &.case{
            background-image: url("@{image_dir}/case_back.jpg");
            section{
                ul{
                    display: flex;
                    margin-bottom: 3rem;
                    li{
                        width: 30%;
                        height: 5rem;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        background-image: url("@{image_dir}/case_case_back.jpg");

                        padding: 1rem;
                        
                        color: @white;
                        text-align: center;
                        font-size: @font_size_small;
                        line-height: 1.5;

                        & + li{
                            border-left: 1px solid fade(@white, 10%);
                        }
                    }
                }
            }
        }
    }
    & > .append-content{
        padding: 100px 0;
        section{
            max-width: @content_width;
            width: 100%;
            margin: 0 auto;
            position: relative;
            padding: 8rem 0;
            h2{
                font-size: @font_size_super_big;
                letter-spacing: 0.2em;
                text-align: center;
                color: @white;
                margin-bottom: 5rem;
            }
            & > a.more{
                color: @white;
                text-decoration: none;
                display: block;
                height: 2rem;
                width: 15rem;
                text-align: center;
                margin: 5rem auto 0 auto;
                font-size: @font_size_normal;
                position: relative;
                letter-spacing: 0.2em;


                &::after{
                    content: "";
                    position: absolute;
                    display: block;
                    border-bottom: 3px solid @white;
                    width: 100%;
                    height: 3px;
                    left: 50%;
                    bottom: -1rem;
                    transform: translateX(-50%);
                }
            }
        }
        &.clients{
            background-image: url("@{image_dir}/clients_back.png");
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 50%;
            section{
                // 自身と背景画像の間に after 指定の四角を滑り込ませたいので
                // z-index を指定してスタックコンテキストを展開する
                z-index: 0;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    li{
                        border: 4px solid @gray;
                        max-width: 23%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: @white;
                        margin: 1px;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: calc((100vw - @content_width) / 2 * (-1));
                    display: block;
                    width: 70vw;
                    height: 100%;
                    background-color: @er_blue_dark;
                    z-index: -1; //section 要素よりも後ろ表示したい
                }
            }
        }
        &.partnership{
            background-image: url("@{image_dir}/partnership_back.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            section{
                max-width: calc(@content_width * 0.6);
                h2{
                    color: @er_blue_dark;
                }
                .aws{
                    display: flex;
                    margin-bottom: 40px;
                    .image{
                        margin-right: 3rem;

                    }
                    .text{
                        p{
                            font-size: @font_size_normal;
                            margin-bottom: 2rem;
                        }
                        p.note{
                            font-size: @font_size_small;
                        }
                    }
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        max-width: 24%;
                        text-align: center;
                    }
                }
            }
        }
        &.news{
            background-image: url("@{image_dir}/news_back.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            section{
                h2{
                    color: @er_blue_dark;
                }
                ul{
                    padding: 4em 8rem;
                    background-color: @white;
                    border-top: 2px solid @gray;
                    border-bottom: 2px solid @gray;
                    li{
                        color: @er_blue_dark;
                        font-size: @font_size_normal;
                        padding: 2rem 0;
                        
                        time{
                            display: block;
                            margin-bottom: 1rem;
                        }
                        p{
                            line-height: 1.5;
                        }
                        &+li{
                            border-top: 1px solid @gray;
                        }
                    }
                }
                a.more{
                    color: @er_blue_dark;
                    &::after{
                        border-bottom: 3px solid @er_blue_dark;
                    }
                }
            }
        }
        &.recruit{
            padding: 0;
            section{
                h2{
                    color: @er_blue_dark;
                }
                .image-text{
                    display: flex;
                    justify-content: space-between;
                    background-color: @gray_super_dark;
                    .image{

                    }
                    .text{
                        font-size: @font_size_normal;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        color: @white;
                        padding-right: 4rem;
                        & > p{
                            text-align: center;
                            strong{
                                font-size: @font_size_huge;
                            }
                            em{
                                font-size: @font_size_super_big;
                            }
                        }
                        & > div.more{
                            text-align: right;
                            margin-top: 2rem;
                            width: 100%;
                            a.more{
                                display: inline-block;
                                font-size: @font_size_normal;
                                color: @white;
                                text-decoration: none;
                                &::after{
                                    content: "";
                                    display: block;
                                    border-bottom: 3px solid @white;
                                    width: 100%;
                                    height: 3px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.company{
            padding: 0;
            position: relative;
            z-index: 0;
            padding-bottom: 10rem;
            background-image: url("@{image_dir}/company_back.png");
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 50%;
            section{
                h2{
                    color: @white;
                }
                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        position: relative;

                        // 3分割におさめる
                        max-width: 33%;
                        width: 100%;
                        height: 18rem;

                        // ザラザラ背景
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        background-image: url("@{image_dir}/case_case_back.jpg");


                        // 内容物を天地中央
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        text-align: center;

                        color: @white;
                        line-height: 1.5;
                        font-size: @font_size_big;
                        

                        & + li{
                            margin-left: 1px;
                        }
                        & > a.more{
                            // 絶対的な配置
                            position: absolute;
                            bottom: 24px;

                            display: inline-block;
                            height: 2rem;
                            // inline-block なので幅は必要ない

                            // テキストそのもの
                            color: @er_blue_dark;
                            text-decoration: none;
                            font-size: @font_size_normal;
                            letter-spacing: 0.2em;


                            &::after{
                                content: "";
                                position: absolute;
                                display: block;
                                border-bottom: 3px solid @er_blue_dark;
                                width: 100%;
                                height: 3px;
                                left: 50%;
                                bottom: -1rem;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: calc((100vw - @content_width) / 2 * (-1));
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: @er_blue_dark;
                    z-index: -1; //section 要素よりも後ろ表示したい
                }
            }
        }
        &.contact{
            section{
                h2{
                    display: none;
                }
                a{

                }
            }
        }
    }
}